<div class="menuContainer">
  <div class="center-all content">
    <div class="logo-title-container">
      <div class="center-all">
        <img src="/assets/moca-logo.png" class="logo" />
      </div>
      <div class="title">Fuel UP Menus</div>
    </div>
  </div>
  <div class="space"></div>

  <div class="center-all">
    <div>
      <div class="restaurantImageContainer">
        <img src="/assets/tablucci-restaurant.png" class="restaurantImageContainer" />
      </div>
      <div class="menuBtn">
        <button class="menuBtn">F&B Menu -></button>
      </div>
    </div>
  </div>
  <div class="space"></div>

  <div class="center-all">
    <div>
      <div class="restaurantImageContainer">
        <img src="/assets/eight-grams-restaurant.png" class="restaurantImageContainer" />
      </div>
      <div class="menuBtn">
        <button class="menuBtn">Coffee Menu -></button>
      </div>
    </div>
  </div>
  <div class="space"></div>

  <div class="center-all ">
    <div class="last-image">
      <img src="/assets/Bon Appétit! .png" class="last-image" />
    </div>
  </div>
  <div class="space"></div>

</div>
